<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" id="topbar">
        <div class="col-xs-2 col-sm-2 col-md-0">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-12">
            <a href="/" title="UDOO">
                <img src="/images/logo_small.png" width="105" height="70" alt="UDOO">
            </a>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-0">
        </div>
    </div>
</nav>