
<div class="col-xs-6 col-sm-4 col-md-2 sidebar-offcanvas" style="margin-top: -2px;">
    <ul class="nav nav-sidebar">
        <li><a href="/"><i class="fa fa-dashboard fa"></i>DASHBOARD</a></li>
        <!--<li><a href="/tutorials">Tutorials</a></li>-->
        <li><a href="/arduino"><i class="fa fa-code fa"></i>ARDUINO</a></li>
        <li><a href="/arduino-lite-ide"><i class="fa fa-edit fa"></i>ARDUINO EDITOR</a></li>
        <li><a href="/docs"><i class="fa fa-book fa"></i>DOCS</a></li>
        <li><a href="/firstconfig"><i class="fa fa-wrench fa"></i>QUICK CONFIGURATION</a></li>
    </ul>
</div>