<div class="col-xs-6 col-sm-4 col-md-2 sidebar-offcanvas">

    <ul class="nav nav-sidebar">
        <li><a href="/">Overview</a></li>
        <!--<li><a href="/tutorials">Tutorials</a></li>-->
        <li><a href="/arduino">Arduino</a></li>
        <li><a href="/arduino-lite-ide">Arduino Editor</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/firstconfig">Configuration</a></li>
    </ul>
    <div class="col-xs-12" id="sidebarbg">
    </div>

</div>
