
<div class="col-xs-6 col-sm-4 col-md-2 sidebar-offcanvas" style="margin-top: -2px;">
    <ul class="nav nav-sidebar">
        <li><a href="/">DASHBOARD</a></li>
        <!--<li><a href="/tutorials">Tutorials</a></li>-->
        <li><a href="/arduino">ARDUINO</a></li>
        <li><a href="/arduino-lite-ide">ARDUINO EDITOR</a></li>
        <li><a href="/docs">DOCS</a></li>
        <li><a href="/firstconfig">QUICK CONFIGURATION</a></li>
    </ul>
</div>