/debian/udoo-web-conf/
/debian/files
/debian/udoo-web-conf.debhelper.log
/debian/udoo-web-conf.*.debhelper
/debian/udoo-web-conf.substvars
/debian/.debhelper/
/vendor
.idea
public/css/app.min.css
public/js/app.min.js
