<!DOCTYPE html>
<html ng-app="udooCfgApp">
  <head>
    <title>UDOO - First configuration</title>
    <%- include ./partials/commonheader.ejs %>
    <link rel="stylesheet" href="/stylesheets/CodePrinter.css">
    <script type="text/javascript" src="/js/codeprinter/CodePrinter.js"></script>
  </head>
<body>

<script>
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
      $('.sidebar-offcanvas').toggleClass('active', 1000);
  });
});
</script>
<%- include ./partials/navbar.ejs %>

<div class="container-fluid">
    <div class="row">
        <%- include ./partials/sidebar.ejs %>
        <div class="col-md-10 col-sm-12 col-xs-12 background_right">
            <div><p class="title_sections1">ARDUINO EDITOR</p></div>
            <div class="text_g">Use this Web IDE to upload your own Sketch. Write the code below and press the Upload button. Be aware that it could takes 30 seconds to verify and upload the sketch.</div>
            <br>
            
            <div class="col-md-12 col-sm-12 col-xs-12">
<textarea id="editor">
void setup() {
  // put your setup code here, to run once:

}

void loop() {
  // put your main code here, to run repeatedly:

}
</textarea>
                <div id="feedback">
                Write your Sketch and hit Upload to Flash it on UDOO NEO's integrated Arduino Microcontroller
                </div>
            </div>
            
            <div class="col-md-2 col-sm-12 col-xs-12" id="button">
                <div class="wrapper_docs"><button type="button" id="upload-ide" class="btn btn-success btn-block">UPLOAD</button></div>
                <BR>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var cp = new CodePrinter(document.getElementsByTagName('textarea')[0], {
        theme: 'default',
        mode: 'JavaScript',
        lineNumbers: true,
        fontSize: 14
    });
    var sketch= cp.code.innerText;
    var socket = io();
    //var sketch = cp.code.innerText;
    document.getElementById('upload-ide').onclick = function() {
        socket.emit('upload-sketch', cp.code.innerText.replace(/[^\040-\176\200-\377]/gi, "\n"))
    
    }
    socket.on('simple-ide-error', function (data) {
        document.getElementById('feedback').innerHTML=data;
    });

    socket.on('simple-ide', function (data) {
        document.getElementById('feedback').innerHTML=data;
    });
</script>

</body>
</html>
