<!DOCTYPE html>
<html lang="en">
<head>
<%- include ./partials/header.ejs %>
    <title>UDOO - Arduino samples</title>
</head>
<body>
<%- include ./partials/top.ejs %>

<div class="row">
    <div class="col-lg-12">
        <div><p class="title_sections1">ARDUINO SAMPLES</p></div>
        <div class="text_g">Two easy examples to get you started using UDOO Neo's integrated Arduino compatible processor. Just follow the instructions and hit run!</div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-arduino">
            <div class="panel-heading">
                <p class="title_sections2">BLINK</p>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="text_v">Connect a LED to PIN 13 and see it blinking!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-grey">
            <div class="panel-heading">
                <pre>
void setup() {
  pinMode(13, OUTPUT);
}


void loop() {
  digitalWrite(13, HIGH);
  delay(1000);
  digitalWrite(13, LOW);
  delay(1000);
}
                </pre>
            </div>
        </div>
        <div class="wrapper_docs"><button type="button" id="blink" class="btn btn-primary btn-block">RUN!</button></div>
    </div>
    
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-arduino">
            <div class="panel-heading">
                <p class="title_sections2">FADE</p>
                <div class="row">
                   
                    <div class="col-xs-12 text-right">
                        
                        <div class="text_v">Connect a LED to PIN 9 and see it fade in and out!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-grey">
            <div class="panel-heading">
                <pre>
int led = 9;
int brightness = 0;
int fadeAmount = 5;


void setup() {
  pinMode(led, OUTPUT);
}


void loop() {
  analogWrite(led, brightness);

  brightness = brightness + fadeAmount;

  if (brightness == 0 || brightness == 255) {
    fadeAmount = -fadeAmount ;
  }

  delay(30);
}
                </pre>
            </div>
        </div>
        <div class="wrapper_docs"><button type="button" id="fade" class="btn btn-primary btn-block">RUN!</button></div>
        <br>
    </div>
</div>

<%- include ./partials/bottom.ejs %>
    <script type='text/javascript' src='/socket.io/socket.io.js'></script>
    <script>
        var socket = io();
        document.getElementById('fade').onclick = function() {
            socket.emit('fade','')
        }
    
        document.getElementById('blink').onclick = function() {
            socket.emit('blink','')
        }
    </script>
</body>
</html>
