<!DOCTYPE html>
<html ng-app="udooCfgApp">
<head>
    <title>Udoo - First configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--http://bootflat.github.io/-->
    <link rel='stylesheet' href='/stylesheets/bootflat.css' />
    <!--http://getbootstrap.com/examples/dashboard/-->
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <link rel="stylesheet" href="/stylesheets/CodePrinter.css">
    <script type="text/javascript" src="js/lodash.min.js"></script>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script type='text/javascript' src='/js/angular-wizard.js'></script>
    <script type='text/javascript' src='/socket.io/socket.io.js'></script>

    <script type="text/javascript" src="/js/codeprinter/CodePrinter.js"></script>
    <!--<script type='text/javascript' src='/js/ui.js'>-->
    </script><script type='text/javascript' src='./js/jquery-2.1.4.min.js'></script>


    <!--    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
        <script>
          var socket = io();
        </script>-->
</head>
<body ng-controller="MainController as ctrl">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" id="topbar">
        <div class="navbar-header">
            <a href="http://www.udoo.org" title="UDOO">
                <img src="/images/logo_small.png" alt="">
            </a>
        </div>

    </div>
</nav>

<!-- header -->
<div class="container-fluid">
    <div class="row">
        <%- include ./partials/sidebar.ejs %>


        <div class="col-md-10 col-sm-12 col-xs-12">

            <div class="background_r">
                <div class="title_r">
                    <p class="title_sections">ARDUINO</p>
                </div>
            </div>

<!--- IDE -->

  <textarea id="editor">

void setup() {
  // put your setup code here, to run once:

}

void loop() {
  // put your main code here, to run repeatedly:

}
</textarea>
            <script type="text/javascript">
                var cp = new CodePrinter(document.getElementsByTagName('textarea')[0], {
                    theme: 'default',
                    mode: 'JavaScript',
                    lineNumbers: true,
                    fontSize: 14
                });
            </script>
            <!--- IDE -->
            <!--- UDOO FILE -->
            <button type="button" id="upload" class="btn btn-success btn-block">Upload</button>

            <script>
                var socket = io();
                var sketch = cp.code.innerText;
                document.getElementById('upload').onclick = function() {
                    socket.emit('upload-sketch', sketch)
                }

            </script>
            <!--- UDOO FILE -->
        </div>

    </div>

</div>

</body>
</html>
