<!DOCTYPE html>
<html ng-app="udooCfgApp">
  <head>
    <title>Udoo - First configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
    <link rel='stylesheet' href='/stylesheets/clock.css' />
    <link rel='stylesheet' href='/stylesheets/angular-wizard.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/angular-timezone-selector.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap-chosen.css' />
      <link rel='stylesheet' href='/stylesheets/chosen.css' />
      <script type='text/javascript' src='js/jquery-2.1.4.min.js'></script>
      <!--http://bootflat.github.io/-->
    <link rel='stylesheet' href='/stylesheets/bootflat.css' />
    <!--http://getbootstrap.com/examples/dashboard/-->
   <link rel='stylesheet' href='/stylesheets/dashboard.css' />
   <script type="text/javascript" src="js/lodash.min.js"></script>
   <script type="text/javascript" src="/js/angular.min.js"></script>
   <script type="text/javascript" src="/js/app.js"></script>
   <script type="text/javascript" src="/js/controllers.js"></script>
   <script type="text/javascript" src="/js/directives.js"></script>
   <script type='text/javascript' src='/js/angular-wizard.js'></script>


  </head>
  <body ng-controller="MainController as ctrl">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" id="topbar">
      <div class="navbar-header">
        <a href="http://www.udoo.org" title="UDOO">
          <img src="/images/logo_small.png" alt="">
        </a>
      </div>

    </div>
  </nav>

<!-- header -->
<div class="container-fluid">
  <div class="row">
        <%- include ./partials/sidebar.ejs %>


      <div class="col-md-10 col-sm-12 col-xs-12">

      <div class="background_y">
        <div class="title_y">
          <p class="title_sections">QUICK CONFIGURATION</p>
        </div>
      </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
    <wizard on-finish="finishedWizard()">
      <wz-step title="General settings">


              <div class="tile tile-emerald col-md-12 col-sm-12 col-xs-12" style="opacity: 1;text-align: left;">
                  &nbsp;
                  <h3>Board Name</h3>
                  <h6>Choose a unique name for your UDOO Choose a unique name for your UDOO (A reboot is required)</h6>

              </div>
        <hostname-input hostname="ctrl.hostname"></hostname-input>
          &nbsp;

          <div class="tile tile-peter-river col-md-12 col-sm-12 col-xs-12" style="opacity: 1;text-align: left;">
              &nbsp;
              <h4>Wireless Network</h4>
              <h6>Select The Wireless Network you want to connect to</h6>
          </div>

          <br/>
              <ul class="wifi">
                  <li ng-repeat="item in ctrl.finalList">
                      <div ng-click="ctrl.selectNetwork(item)" ng-class="{'selected-network-bg': item.isSelected}">
                          {{item.networkName}}<img src="images/lock.png" ng-show="item.isProtected" height="15" class="pull-right"/>
                      </div>
                  </li>
              </ul>
              Password: <input type="password" ng-model="ctrl.wifiPassword" ng-disabled="!ctrl.selectedNetwork.isProtected">

          <br/>
        <input type="submit" ng-click="ctrl.connectToNetwork()" value="Save"  class="btn btn-default btn-lg pull-right"/><br/>
      </wz-step>

    </wizard>
  </div>
      </div>

</div>
  </div>

  </body>
</html>
