<!DOCTYPE html>
<html ng-app="udooCfgApp">
  <head>
    <title>UDOO - First configuration</title>
    <%- include ./partials/commonheader.ejs %>
    <link rel='stylesheet' href='/stylesheets/angular-timezone-selector.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-chosen.css' />
    <link rel='stylesheet' href='/stylesheets/chosen.css' />
  </head>
  <body ng-controller="MainController as ctrl">

<script>
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
      $('.sidebar-offcanvas').toggleClass('active', 1000);
  });
});
</script>
<%- include ./partials/navbar.ejs %>

<div class="container-fluid">
    <div class="row">
        <%- include ./partials/sidebar.ejs %>
        <div class="col-md-10 col-sm-12 col-xs-12 background_right">
            <div><p class="title_sections1">QUICK CONFIGURATION</p></div>
            <div class="text_g">Configure your UDOO NEO name and WiFi connection.</div>

            <wizard on-finish="finishedWizard()">
                <wz-step title="General settings">

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="panel panel-green2">
                                <div class="panel-heading">
                                    <p class="title_sections2">BOARD NAME</p>
                                    <div class="row">
                                        <div class="col-xs-12 text-right">
                                            <div class="text_v">Choose a unique name for your UDOO (A reboot is required).</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <hostname-input hostname="ctrl.hostname"></hostname-input>
                        </div>
                        
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="panel panel-blue2">
                                <div class="panel-heading">
                                    <p class="title_sections2">WIRELESS NETWORK</p>
                                    <div class="row">
                                        <div class="col-xs-12 text-right">
                                            <div class="text_v">Select The Wireless Network you want to connect to.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <ul class="wifi">
                                <li ng-repeat="item in ctrl.finalList">
                                    <div ng-click="ctrl.selectNetwork(item)" ng-class="{'selected-network-bg': item.isSelected}">
                                        {{item.networkName}}<img src="images/lock.png" ng-show="item.isProtected" height="15" class="pull-right"/>
                                    </div>
                                </li>
                            </ul>
                            Password: <input type="password" ng-model="ctrl.wifiPassword" ng-disabled="!ctrl.selectedNetwork.isProtected">
                        </div>
                    </div>
                
                    <div class="wrapper_docs"><input type="submit" ng-click="ctrl.connectToNetwork()" value="SAVE"  class="btn btn-default btn-lg pull-right"/></div>
                
                </wz-step>
            </wizard>

        </div>
    </div>
</div>

  </body>
</html>
