<!DOCTYPE html>
<html ng-app="udooCfgApp">
  <head>
    <title>Udoo - First configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
    <link rel='stylesheet' href='/stylesheets/clock.css' />
    <link rel='stylesheet' href='/stylesheets/angular-wizard.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--http://bootflat.github.io/-->
    <link rel='stylesheet' href='/stylesheets/bootflat.css' />
    <!--http://getbootstrap.com/examples/dashboard/-->
   <link rel='stylesheet' href='/stylesheets/dashboard.css' />
   <script type="text/javascript" src="js/lodash.min.js"></script>
   <script type="text/javascript" src="/js/angular.min.js"></script>
   <script type="text/javascript" src="/js/app.js"></script>
   <script type="text/javascript" src="/js/controllers.js"></script>
   <script type="text/javascript" src="/js/directives.js"></script>
   <script type='text/javascript' src='/js/angular-wizard.js'></script>
   <script type='text/javascript' src='/socket.io/socket.io.js'></script>
   <script type='text/javascript' src='/js/ui.js'>
   </script><script type='text/javascript' src='./js/jquery-2.1.4.min.js'></script>


     <!--    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
         <script>
           var socket = io();
         </script>-->
  </head>
  <body ng-controller="MainController as ctrl">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" id="topbar">
      <div class="navbar-header">
        <a href="http://www.udoo.org" title="UDOO">
          <img src="/images/logo_small.png" alt="">
        </a>
      </div>

    </div>
  </nav>

<!-- header -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="">Overview</a></li>
        <li><a href="">Sensors</a></li>
        <li><a href="">Arduino</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="">Settings</a></li>
        <li><a href="">Utilities\Drivers</a></li>
      </ul>

    </div>


    <div class="col-sm-offset-4 col-md-offset-2 col-md-10">

      <div class="background_v">
        <div class="title_v">
          <p class="title_sections">OVERVIEW</p>
        </div>
      </div>
        <div class="tile tile-clouds col-md-12 col-xs-12" style="opacity: 1;">
            <div class="col-md-4 col-xs-4">
                <table id="indexsensors">
                    <tr>
                        <td id="motionicons"><img class="iconnet" src="/images/iconacc.png" alt=""></td>

                        <td id="AccelerometerGr"><div id="progress_bar_acc" style="height:30px; background:#2ecc71; display:block;"></div></td>
                    </tr>
                    <tr>
                        <td id="motionicons"><img class="iconnet" src="/images/icongyro.png" alt=""></td>

                        <td id="GyroscopeGr"><div id="progress_bar_gyro" style="height:30px; background:#f1c40f; display:block;"></div></td>
                    </tr>
                    <tr>
                        <td id="motionicons"><img class="iconnet" src="/images/iconmagn.png" alt=""></td>

                        <td id="MagnetometerGr"><div id="progress_bar_magn" style="height:30px; background:red; display:block;"></div></td>

                    </tr>
                </table>

            </div>
            <div class="col-md-4 col-xs-4">
                <img class="neoimg" src="/images/neo_header_front.png" alt="">
            </div>
            <div class="col-md-4 col-xs-4">
                <table>
                <tr>
                    <td id="networkicons"><img class="iconnet" src="/images/ethicon.png" alt=""></td>
                    <td id="ethstatus">Not Connected</td>
                </tr>
                <tr>
                    <td id="networkicons"><img class="iconnet" src="/images/usbicon.png" alt=""></td>
                    <td id="usbstatus">  USB Tethering Not Connected</td>


                </tr>
                <tr>
                    <td id="networkicons"><img class="iconnet" src="/images/wifi-icon.png" alt=""></td>
                    <td id="wlanstatus">  Wireless Network Not Connected</td>
                </tr>

                    <tr>
                        <td id="networkicons"><img class="iconnet" src="/images/bticon.png" alt=""></td></td>
                        <td id="btstatus"> Bluetooth Not Connected</td>
                    </tr>
                </table>

            </div>


        </div>
        <div class="tile tile-emerald col-md-6 col-xs-12">
            <h3 class="tile-text">
                First Start</h3>
            <div class="tile-content">
                ASD
            </div>

        </div>
        <div class="tile tile-peter-river col-md-6 col-xs-12">
            <h3 class="tile-text">
                Tutorials</h3>
            <div class="tile-content">
               ASD
            </div>

        </div>
        <div class="col-sm-4 col-md-4">
            <a href="/ssh" >
            <div class="thumbnail tile tile-wide tile-pomegranate">
                    <h2 class="tile-text">
                        Remote Terminal</h2>
            </div>
            </a>
        </div>
        <div class="col-sm-4 col-md-4">
            <a href="/vnc" >
            <div class="thumbnail tile tile-wide tile-carrot">
                    <h2 class="tile-text">
                        Remote Desktop</h2>
            </div>
            </a>
        </div>
        <div class="col-sm-4 col-md-4">
            <a href="/docs" >
            <div class="thumbnail tile tile-wide tile-purple">
                    <h2 class="tile-text">
                        Documentation</h2>
            </div>
            </a>
        </div>



  </div>

</div>
  </div>

  </body>
</html>
