<!DOCTYPE html>
<html ng-app="udooCfgApp">
  <head>
    <title>Udoo - First configuration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
    <link rel='stylesheet' href='/stylesheets/clock.css' />
    <link rel='stylesheet' href='/stylesheets/angular-wizard.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/navbar-static-top.css' />
    <!--http://bootflat.github.io/-->
    <link rel='stylesheet' href='/stylesheets/bootflat.css' />
    <!--http://getbootstrap.com/examples/dashboard/-->
   <link rel='stylesheet' href='/stylesheets/dashboard.css' />
   <script type="text/javascript" src="js/lodash.min.js"></script>
   <script type="text/javascript" src="/js/angular.min.js"></script>
   <script type="text/javascript" src="/js/app.js"></script>
   <script type="text/javascript" src="/js/controllers.js"></script>
   <script type="text/javascript" src="/js/directives.js"></script>
   <script type='text/javascript' src='/js/angular-wizard.js'></script>
   <script type='text/javascript' src='/socket.io/socket.io.js'></script>
   <script type='text/javascript' src='/js/overview.js'>
   </script><script type='text/javascript' src='./js/jquery-2.1.4.min.js'></script>
   
   <!-- Custom Fonts -->
    <link href="../font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


     <!--    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
         <script>
           var socket = io();
         </script>-->

  </head>
  <body ng-controller="MainController as ctrl">

  <script>
      $(document).ready(function() {
          $('[data-toggle=offcanvas]').click(function() {
              $('.sidebar-offcanvas').toggleClass('active', 1000);
          });
      });</script>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" id="topbar">
        <div class="col-xs-2 col-sm-2 col-md-0">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

            </div>

        <div class="col-xs-2 col-sm-2 col-md-12">
            <a href="http://www.udoo.org" title="UDOO">
                <img src="/images/logo_small.png" alt="">
            </a>
            </div>
        <div class="col-xs-8 col-sm-8 col-md-0">


    </div>
  </div></nav>

<!-- header -->
<div class="container-fluid">
  <div class="row">
      <%- include ./partials/sidebar.ejs %>
      
      
      

    <div class="col-md-10 col-sm-12 col-xs-12">

      
      
            <div class="row">
                <div class="col-lg-12">
                    <p class="title_sections1">DASHBOARD</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        <p class="title_sections2">ETHERNET</p>
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="/images/ethernet_icon.png" alt="" width="56" height="56">
                                </div>
                                <div class="col-xs-9 text-right">
                                                               
                                    <div id="ethstatus">Not Connected</div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                        <p class="title_sections2">USB</p>
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-usb fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    
                                    <div id="usbstatus">Not Connected</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                        <p class="title_sections2">WIFI</p>
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-wifi fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    
                                    <div id="wlanstatus">Not Connected</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                        <p class="title_sections2">BLUETOOTH</p>
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bluetooth-b fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    
                                    <div id="btstatus">Not Connected</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- /.row -->
      
       
      
      
      
      
     
          
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="panel panel-grey">
                        <div class="panel-heading">
                        <p class="title_sections3">SENSORS</p>
                            
                            <table id="indexsensors">
                    <tr>
                        <td id="motionicons"><img class="iconnet" src="/images/iconacc.png" alt=""></td>

                        <td id="AccelerometerGr"><div id="progress_bar_acc" style="height:30px; background:#2ecc71; display:block;"></div></td>
                    </tr>
                    <tr>
                        <td id="motionicons"><img class="iconnet" src="/images/icongyro.png" alt=""></td>

                        <td id="GyroscopeGr"><div id="progress_bar_gyro" style="height:30px; background:#f1c40f; display:block;"></div></td>
                    </tr>
                    <tr>
                        <td id="motionicons"><img class="iconnet" src="/images/iconmagn.png" alt=""></td>

                        <td id="MagnetometerGr"><div id="progress_bar_magn" style="height:30px; background:red; display:block;"></div></td>

                    </tr>
                </table>
                            
                            
                            
                        </div>
                    </div>
                </div>
                
                
                
                
                <div class="col-lg-4 col-md-4">
                <div class="panel panel-grey">
                        <div class="panel-heading">
                        <p class="title_sections3">BOARD</p>
                
                <div class="immmagine_board">
                <BR>
                <img class="neoimg" src="/images/udoo_neo_full_hor.png" alt="">
                
                </div>
                    </div>
                    </div>
            </div>
                
                
      </div>
      
      
      
      
      
      
      
      
      
      
      <div class="row">
      
      
      
      
                <div class="col-lg-4 col-md-4">
                
                
            <!--    <div class="wrapper_firststart"><a class="panel button_firststart" href="/docs/Getting_Started/Very_First_Start.html" role="button" style="margin-left: 0px;" target="_blank">FIRST START</a></p></div> -->

                
                <a href="/docs/Getting_Started/Very_First_Start.html" >
                    <div class="panel panel-greeneme">
                        <div class="panel-heading">
                        <p class="title_sections4">FIRST START</p>
                        </div>
                    </div>
                    </a> 
                </div>
                <div class="col-lg-4 col-md-4">
                <a href="/docs/Hardware_&_Accessories/Motion_sensor.html" >
                    <div class="panel panel-lightblue">
                        <div class="panel-heading">
                        <p class="title_sections4">TUTORIALS</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                <a href="/docs" >
                    <div class="panel panel-purple">
                        <div class="panel-heading">
                        <p class="title_sections4">DOCUMENTATION</p>
                        </div>
                    </div>
                    </a>
                </div>
                
                
            </div>
            <!-- /.row -->
      
      
      
      
      
      
      <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-red2">
                        <div class="panel-heading">
                        <p class="title_sections2">REMOTE TERMINAL</p>
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-terminal fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                                               
                                    <div id="rterminal">ACTIVE</div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-orange">
                        <div class="panel-heading">
                        <p class="title_sections2">REMOTE DESKTOP</p>
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-desktop fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    
                                    <div id="rdesktop">ACTIVE</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <!-- /.row -->
      
      
      
      
      
      
      
      
</div>


  </div>

</div>
  </div>

  </body>
</html>
