<!DOCTYPE html>
<html ng-app="udooCfgApp">
  <head>
    <title>UDOO - First configuration</title>
    <%- include ./partials/commonheader.ejs %>
  </head>
  <body>

<script>
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
      $('.sidebar-offcanvas').toggleClass('active', 1000);
  });
});
</script>
<%- include ./partials/navbar.ejs %>

<div class="container-fluid">
    <div class="row">
        <%- include ./partials/sidebar.ejs %>
        <div class="col-md-10 col-sm-12 col-xs-12">
            <iframe src="http://192.168.0.101:8088/terminal/"></iframe>
        </div>
        
    </div>
</div>

  </body>
</html>
