body {margin-top:0px; background: #f7f7f7;font-family: "exo 2";}

a {color:#fc575e}

h1{border-bottom: 1px solid #ddd;padding: 20px 0;margin-bottom: 20px; font-weight: 300;}

h2{margin-bottom: 40px;font-weight: 300; font-size: 26px; line-height: 30px}

h3{font-weight: 300; font-size: 22px;margin-bottom: 40px}

.margin-top{margin-top: 20px;}


.navbar-header{float:none;text-align: center;}
	
	/* top bar */
	.navbar {text-transform: uppercase;background-color: #00001e;border: none}
	.navbar a  {color:#fff;font-weight: 300;text-decoration: none}
	.navbar-default .navbar-brand {color:#fff;font-weight: bold;margin:0;line-height: 50px;float:none; margin-left: auto; margin-right: auto; width: 60px; float: none; }

	.icon{margin-bottom: 8px;margin:0;padding: 15px 15px; float:right;}
    
	    .back{float:left;background-color: #feaf8d;}
	    .search{background: #fb7b74; float:left;}
	    
	    .tw{background: #3fc6f3}
	    .fb{background: #0d9be5}
    
    
    /* toggle button */
    .navbar-toggle{border: none;color:#fff;margin:0;padding: 18px 15px; border-radius: 0px;float:left;}
    .navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {background-color: #fc575e;}
	.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
	
	
	/* Position where the element is fixed */
	.affix {top: 50px; width: 200px; }
	#affix {width: 200px;}

	.nav li a {border-bottom: 1px solid #ddd; color:#7b7a7e;}
	.nav li a i {margin-right:20px;}
    

    /* list */ 
    .ux-mood{font-size: 18px; font-weight: 300;margin-bottom: 40px}
    .ux-mood li{margin-bottom: 10px}
    .upper{text-transform: uppercase; font-weight: bold}




/* collapsed sidebar styles */
@media screen and (max-width: 992px) {



	
	.affix {position: static;}
	#affix{width: 100%;}
  
	.sidebar-offcanvas{-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		
		width:70%;
		background-color: #ec008c;
		z-index: 51;
		margin: 0; padding: 0;
		position: fixed;
		top:50px;
		left: -70%;
		padding-top: 20px;
		
	}
	
	.sidebar-offcanvas ul li{margin:0}
	.sidebar-offcanvas ul li a{color:#fff;padding: 15px 20px;margin:0;font-size: 15px;border-bottom: 1px solid #f4f4f4}
	.sidebar-offcanvas ul li a:hover{background:#f4f4f4;border:none; border-radius:0;color: #ec008c;}
	
	.nav{margin-top: 0px;}
	.nav > li > a:hover, 
	.nav > li > a:focus{background-color: #ff625f}
	
	.active {left: 0;}
    
 
}





