body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

ul.wifi{
  padding: 0;
  border: 3px solid #3498db;
  list-style-type: none;
  padding: 2px;
  border-radius:4px;
}

.selected-network-bg{
  background-color: rgba(86,61,124,.15);
}

div#topbar {
  background-color: white;
  min-height: 70px;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

.background_y {
  background-color: #edc03c;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.background_y .title_y {
  padding: 10px 10px 10px 10px;
  font-family: quicksand;
  background-color: #fbcb47;
  display: block;
  /* position: absolute; */
  left: 0px;
  width: 50%;
  height: 100%;
}

.title_sections {
  color: #ffffff;
  font-family: quicksand;
  font-size: 22px;
  margin-bottom: 0px;
  font-weight: bold;
}

.row {
  margin-top: 25px;
}

input.btn.btn-default.btn-lg.pull-right.ng-scope {
  font-weight: bold;
  border: 3px solid #2bde73;
  background: rgba(255,255,255,1);
  margin-left: 15px;
  color: #2bde73;
  font-size: 14px;
}

input.btn.btn-default.btn-lg.pull-right.ng-scope:hover {
  color: #ffffff;
  font-weight: bold;
  border: 3px solid #2bde73;
  background-color: #2bde73;
}

input.btn.btn-default.btn-lg.pull-right.ng-scope:focus {
  color: #2bde73;
}

input.btn.btn-default.btn-lg.pull-right.ng-scope:hover:focus {
  color: #ffffff;
}

.background_v {

  background-color: #9069ac;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  margin-top: 5px;


}


.background_v .title_v {

  padding: 10px 10px 10px 10px;
  font-family: quicksand;
  background-color: #9d75b3;

  display: block;
  /* position: absolute; */
  left: 0px;
  width: 50%;
  height: 100%;


}

.background_r {

  background-color: #4dba7c;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  margin-top: 5px;


}


.background_r .title_r {

  padding: 10px 10px 10px 10px;
  font-family: quicksand;
  background-color: #66c185;

  display: block;
  /* position: absolute; */
  left: 0px;
  width: 50%;
  height: 100%;


}


.background_orange {

  background-color: #df8c49;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  margin-top: 5px;


}


.background_orange .title_orange {

  padding: 10px 10px 10px 10px;
  font-family: quicksand;
  background-color: #df9a5a;

  display: block;
  /* position: absolute; */
  left: 0px;
  width: 50%;
  height: 100%;


}

.background_v {

  background-color: #9069ac;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  margin-top: 5px;


}


.background_v .title_v {

  padding: 10px 10px 10px 10px;
  font-family: quicksand;
  background-color: #9d75b3;

  display: block;
  /* position: absolute; */
  left: 0px;
  width: 50%;
  height: 100%;


}


.background_right {

background-color:#ffffff;
margin-top: -3px;
border-left: 1px solid #dddddd;
min-height: 768px;



}





























img.neoimg {
   max-width: 300px;
    max-height: 160PX;

}

.grad{width:15px;height:15px;border-radius:15px}

img.iconnet {
  padding: 10px;
}

.immmagine_board {

text-align:center;
}





.content_menu {


min-height: 600px;
    height: auto !important;
    height: 600px;

}







/* New Home ---------------------------------------------------------------------------- */

.title_sections1 {
  color: #000000;
  font-family: quicksand;
  font-size: 32px;
  margin-bottom: 0px;
  font-weight: bold;
      border-bottom: 1px solid #eee;
}

.title_sections2 {
  color: #ffffff;
  font-family: quicksand;
  font-size: 22px;
  margin-bottom: 0px;
  font-weight: bold;
      border-bottom: 1px solid #eee;
}

.title_sections3 {
  color: #000000;
  font-family: quicksand;
  font-size: 22px;
  margin-bottom: 0px;
  font-weight: bold;
      border-bottom: 1px solid #ddd;
}


.title_sections4 {
  
  font-family: quicksand;
  font-size: 22px;
  margin-bottom: 0px;
  font-weight: bold;
  text-align:center;
      
}



.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}



.panel-grey {
    border-color: #f5f5f5;
}

.panel-grey .panel-heading {
    border-color: #f5f5f5;
    color: #000;
    background-color: #f5f5f5;
    min-height: 233px;
}

.panel-grey a {
    color: #f5f5f5;
}

.panel-grey a:hover {
    color: #f5f5f5;
}




.panel-greeneme {
border: 3px solid #62d994;
    
}

.panel-greeneme .panel-heading {
    border: 3px solid #62d994;
    color: #fff;
    background-color: #62d994;
}

.panel-greeneme a {
    color: #62d994;
}

.panel-greeneme .panel-heading:hover {
    background-color: #ffffff;
    border: 3px solid #62d994; 
    color: #62d994;
    font-weight: bold;
}
    
    .panel-greeneme:focus {
    color: #ffffff;
    }
    
.panel-greeneme:hover:focus {
    color: #62d994;
    }





.panel-lightblue {
border: 3px solid #67b2e4;
    ;
}

.panel-lightblue .panel-heading {
    border: 3px solid #67b2e4;
    color: #fff;
    background-color: #67b2e4;
}

.panel-lightblue a {
    color: #67b2e4;
}

.panel-lightblue .panel-heading:hover {
    background-color: #ffffff;
    border: 3px solid #67b2e4; 
    color: #67b2e4;
    font-weight: bold;
}
    
    .panel-lightblue:focus {
    color: #ffffff;
    }
    
.panel-lightblue:hover:focus {
    color: #67b2e4;
    }






.panel-purple {
    border: 3px solid #9c7bb5;
}

.panel-purple .panel-heading {
    border: 3px solid #9c7bb5;
    color: #fff;
    background-color: #9c7bb5;
}

.panel-purple a {
    color: #9c7bb5;
}

.panel-purple .panel-heading:hover {
    background-color: #ffffff;
    border: 3px solid #9c7bb5; 
    color: #9c7bb5;
    font-weight: bold;
}
    
    .panel-purple:focus {
    color: #ffffff;
    }
    
.panel-purple:hover:focus {
    color: #9c7bb5;
    }













.panel-red2 {
    border: 3px solid #d06a60;
}

.panel-red2 .panel-heading {
    border: 3px solid #d06a60;
    color: #fff;
    background-color: #d06a60;
}

.panel-red2 a {
    color: #d06a60;
}

.panel-red2 .panel-heading:hover {
    background-color: #ffffff;
    border: 3px solid #d06a60; 
    color: #d06a60;
    font-weight: bold;
}
    
    .panel-red2:focus {
    color: #ffffff;
    }
    
.panel-red2:hover:focus {
    color: #d06a60;
    }











.panel-orange {
    border: 3px solid #ec9e59;
}

.panel-orange .panel-heading {
    border: 3px solid #ec9e59;
    color: #fff;
    background-color: #ec9e59;
}

.panel-orange a {
    color: #ec9e59;
}

.panel-orange .panel-heading:hover {
    background-color: #ffffff;
    border: 3px solid #ec9e59;
    color: #ec9e59;
    font-weight: bold;
}
    
    .panel-orange:focus {
    color: #ffffff;
    }
    
.panel-orange:hover:focus {
    color: #ec9e59;
    }





.panel-arduino {
    border-color: #00979d;
}

.panel-arduino .panel-heading {
    border-color: #00979d;
    color: #fff;
    background-color: #00979d;
}

.panel-arduino a {
    color: #00979d;
}

.panel-arduino a:hover {
    background-color: #00979d;
}





.panel-green2 {
    border-color: #2ecc71;
}

.panel-green2 .panel-heading {
    border-color: #2ecc71;
    color: #fff;
    background-color: #2ecc71;
}

.panel-green2 a {
    color: #2ecc71;
}

.panel-green2 a:hover {
    background-color: #2ecc71;
}





.panel-blue2 {
    border-color: #3498db;
}

.panel-blue2 .panel-heading {
    border-color: #3498db;
    color: #fff;
    background-color: #3498db;
}

.panel-blue2 a {
    color: #3498db;
}

.panel-blue2 a:hover {
    background-color: #3498db;
}





.text_v {

text-align:left;
font-size: 18px;

}

.text_g {

font-size: 16px;

}


#rterminal, #rdesktop {
font-size: 22px;
/* text-align:center;  */
margin-top: 10px;

}


#ethstatus, #usbstatus, #wlanstatus, #btstatus {

font-size: 22px;
/* text-align:center;  */
margin-top: 10px;


}

#info1, #info2, #info3 {

font-size: 19px;
text-align:left;  
margin-top: 30px;
font-family: quicksand;
font-weight: bold;


}


@media (max-width: 767px) {

#info1, #info2, #info3 {

    font-size: 16px;
    text-align: center;
    margin-top: 35px;
    font-family: quicksand;
    font-weight: bold;



}




}




/* Fonts ---------------------------------------------------------------------------- */



@font-face {
    font-family: quicksand;
    src: url(/fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: quicksand;
    src: url(/fonts/Quicksand-Bold.otf);
    font-weight: bold;
}









/* Tiles ---------------------------------------------------------------------------- */
/* CSS Portion from https://github.com/TalksLab/metro-bootstrap */

.tile {
  display: block;
  cursor: pointer;
  -webkit-perspective: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.2s;
  float: left;
  min-width: 75px;
  min-height: 75px;
  text-align: center;
  opacity: 0.75;
  background-color: #2e8bcc;
  z-index: 1;
  border: 4px #ffffff solid;
  color: #ffffff;
}
.tile h1,
.tile h2,
.tile h3,
.tile h4,
.tile h5,
.tile h6 {
  color: #ffffff;
  -webkit-user-select: none;
}
.tile h2 {
  margin-top: -20px;
  margin-left: 0px;
}
.tile h3,
.tile h4 {
  /* margin-top: -15px; */
}
.tile h1.tile-text,
.tile h2.tile-text,
.tile h3.tile-text,
.tile h4.tile-text {
  margin-top: 20px;
}
.tile h1 {
  font-size: 36px;
}
.tile h2 {
  font-size: 30px;
}
.tile h3 {
  font-size: 24px;
}
.tile h4 {
  font-size: 18px;
}
.tile a:hover {
  text-decoration: none;
}
.tile img {
  border: 0;
}
.tile:hover {
  opacity: 1;
}
.tile .tile-label {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 14px;
  color: #ffffff;
}
.tile .tile-content .tile-icon-large {
  margin-left: 0px;
  vertical-align: middle !important;
  text-align: center;
}
.tile .tile-content {
  padding-top: 20px;
  line-height: normal;
  position: relative;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tile.tile-blue {
  background-color: #2e8bcc;
}
.tile.tile-green {
  background-color: #339933;
}
.tile.tile-red {
  background-color: #e51400;
}
.tile.tile-yellow {
  background-color: #ffc40d;
}
.tile.tile-orange {
  background-color: #f39c12;
}
.tile.tile-pink {
  background-color: #e671b8;
}
.tile.tile-purple {
  background-color: #7b4f9d;
}
.tile.tile-lime {
  background-color: #8cbf26;
}
.tile.tile-magenta {
  background-color: #ff0097;
}
.tile.tile-teal {
  background-color: #00aba9;
}
.tile.tile-turquoise {
  background-color: #1abc9c;
}
.tile.tile-green-sea {
  background-color: #16a085;
}
.tile.tile-emerald {
  background-color: #2ecc71;
  border: 3px solid #2ecc71;
}
.tile.tile-nephritis {
  background-color: #27ae60;
}
.tile.tile-peter-river {
  background-color: #3498db;
  border: 3px solid #3498db;
}
.tile.tile-belize-hole {
  background-color: #2980b9;
}
.tile.tile-amethyst {
  background-color: #9b59b6;
}
.tile.tile-wisteria {
  background-color: #8e44ad;
}
.tile.tile-wet-asphalt {
  background-color: #34495e;
}
.tile.tile-midnight-blue {
  background-color: #2c3e50;
}
.tile.tile-sun-flower {
  background-color: #f1c40f;
}
.tile.tile-carrot {
  background-color: #e67e22;
}
.tile.tile-pumpkin {
  background-color: #d35400;
}
.tile.tile-alizarin {
  background-color: #e74c3c;
}
.tile.tile-pomegranate {
  background-color: #c0392b;
}
.tile.tile-clouds {
  background-color: #ecf0f1;
  color: #34495e;
  padding-bottom:20px;
}
.tile.tile-clouds h1,
.tile.tile-clouds h2,
.tile.tile-clouds h3,
.tile.tile-clouds h4,
.tile.tile-clouds h5,
.tile.tile-clouds h6 {
  color: #34495e;
}
.tile.tile-clouds .tile-label {
  color: #34495e;
}
.tile.tile-silver {
  background-color: #bdc3c7;
}
.tile.tile-concrete {
  background-color: #95a5a6;
}
.tile.tile-asbestos {
  background-color: #7f8c8d;
}
.tile.tile-info {
  background-color: #3498db;
}
.tile.tile-danger {
  background-color: #e74c3c;
}
.tile.tile-warning {
  background-color: #f1c40f;
}
.tile.tile-success {
  background-color: #2ecc71;
}
a.fa-links {
  color: #ffffff;
}
a.fa-links:hover,
a.fa-links:focus {
  color: #ffffff;
}
.tile.tile-small {
  height: 70px;
  width: 70px;
}
.tile.tile-medium {
  height: 150px;
  width: 150px;
}
.tile.tile-wide,
.tile.tile-double {
  height: 150px;
  width: 310px;
}
.tile.tile-large {
  height: 310px;
  width: 310px;
}

/* RESPONSIVE SIDEBAR CSS */

.col-xs-2.col-sm-2.col-md-0 {
  margin-left: -15px;
  padding-left: 0px;
  padding-right: 0px;
}

button.navbar-toggle {
  margin-top: 10px;
}
body {margin-top:0px;}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ec008c;
  color: white;
  font-weight: 600;
}

.nav li a {border-bottom: 1px solid #ddd; color: black;font-weight: 600;}
.nav li a {border-bottom: 1px solid #ddd; color: black;}
ul.nav.nav-sidebar {
/*  padding-top: 15px;
  padding-left: 15px; */
}

ul.steps-indicator.steps-1 {
  visibility: hidden;
}
input.ng-pristine.ng-untouched.ng-valid.ng-scope {
  border: 3px solid lightgray;
  background-color: white;
}
.tile.tile-peter-river.col-md-12.col-sm-12.col-xs-12.ng-scope {
  border: 0px;
}

ul.wifi.ng-scope {
  font-family: quicksand;
  font-weight: 800;
}

.tile.tile-emerald.col-md-12.col-sm-12.col-xs-12.ng-scope {
  border: 0px;
}

div#feedback {
  border: 3px solid #d4d4d4;
    min-height: 38px;
    text-align: middle;
    vertical-align: middle;
    border-radius: 4px;
    margin-top: -3px;
    padding: 6px;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
}

button#upload-ide {
  margin-top:20px;
   font-weight: bold;
    border: 3px solid #ec008c;
    background: rgba(236,0,140,1);
    color: #ffffff;
    font-size: 18px;
    margin-right: 10px;
  
  
  
}







    
    
    
.wrapper_docs {
    font-family: quicksand;
    
    }
    
    
    
    
    button#upload-ide:hover {
    color: #ec008c;
    font-weight: bold;
    border: 3px solid #ec008c;
    background-color: #ffffff;
    
    }
    
    button#upload-ide:focus {
    color: #ffffff;
    }
    
button#upload-ide:hover:focus {
    color: #ec008c;
    }







input.btn-default {
  margin-top:20px;
   font-weight: bold;
    border: 3px solid #ec008c;
    background: rgba(236,0,140,1);
    color: #ffffff;
    font-size: 14px;
    margin-right: 10px;
    border-color: #ec008c !important;
    text-shadow: none;
  
  
  
}
    
    
    
    input.btn-default:hover {
    color: #ec008c;
    font-weight: bold;
    border: 3px solid #ec008c;
    background-color: #ffffff;
    
    }
    
    input.btn-default:focus {
    color: #ec008c;
    background-color: #ffffff;
    }
    
input.btn-default:hover:focus {
    color: #ec008c;
    background-color: #ffffff;
    }






















button#blink {
  margin-top:20px;
   font-weight: bold;
    border: 3px solid #ec008c;
    background: rgba(236,0,140,1);
    color: #ffffff;
    font-size: 18px;
    margin-right: 10px;
  
  
  
}
    
    
    
    
    button#blink:hover {
    color: #ec008c;
    font-weight: bold;
    border: 3px solid #ec008c;
    background-color: #ffffff;
    
    }
    
    button#blink:focus {
    color: #ffffff;
    }
    
button#blink:hover:focus {
    color: #ec008c;
    }











button#fade {
  margin-top:20px;
   font-weight: bold;
    border: 3px solid #ec008c;
    background: rgba(236,0,140,1);
    color: #ffffff;
    font-size: 18px;
    margin-right: 10px;
  
  
  
}
    
    
    
    
    button#fade:hover {
    color: #ec008c;
    font-weight: bold;
    border: 3px solid #ec008c;
    background-color: #ffffff;
    
    }
    
    button#fade:focus {
    color: #ffffff;
    }
    
button#fade:hover:focus {
    color: #ec008c;
    }

.inside-arduino {

background-color: #ecf0f1;

}




