[Desktop Entry]
Encoding=UTF-8
Name=ArduBlockly
Type=Link
URL=http://127.0.0.1/arduino/ardublockly?standalone
Categories=Development;Electronics;
Icon=chromium-browser
