Source: udoo-web-conf
Section: utils
Priority: optional
Maintainer: Ettore Chimenti <ek5.chimenti@gmail.com>
Build-Depends: debhelper (>= 8.0.0), npm
Standards-Version: 3.9.4
Homepage: http://www.udoo.org
#Vcs-Git: git://git.debian.org/collab-maint/udoo-web-conf.git
Vcs-Browser: https://github.com/UDOOboard/udoo-web-conf/

Package: udoo-web-conf-udooneo
Architecture: all
Depends: ${misc:Depends}, udoo-web-docs-udooneo, nodejs (>=0.12.6)
Description: UDOO Neo Web Configurator
 This tool is designed to allow easy configuration and act as an handy web-based 
 control panel for UDOO NEO.

Package: udoo-web-docs
Architecture: all
Depends: ${misc:Depends}
Description: UDOO Neo Web Docs
 This is a static documentation precompiled by gh-pages from
 https://github.com/UDOOboard/neo-docs

