[Unit]
Description=UDOO Web Conf

[Service]
WorkingDirectory=/opt/udoo-web-conf/public
ExecStart=/opt/udoo-web-conf/bin/webserver
SyslogIdentifier=udoo-web-conf
[Install]
WantedBy=local-fs.target
