[Desktop Entry]
Name=UDOO Web Control Panel
GenericName=Web Based UDOO Board Configuration Tool
Type=Application
Exec=/opt/udoo-web-conf/bin/browser.sh
Categories=Settings;HardwareSettings;
Terminal=false
Icon=udoo-web-conf
