<!DOCTYPE html>
<html lang="en">
<head>
<%- include ../partials/header.ejs %>
    <title>UDOO - Ardublockly</title>
    
    <!-- Prettify, and Ardublockly CSS -->
    <link rel="stylesheet" href="/ardublockly/ardublockly/prettify/arduino.css">
    <link rel="stylesheet" href="/stylesheets/ardublockly-uwc.css">

    <!-- Ardublockly - For now uncompressed files -->
    <script src="/ardublockly/blockly/blockly_compressed.js"></script> 
    <script src="/ardublockly/blockly/blocks_compressed.js"></script>
    <script src="/ardublockly/blockly/arduino_compressed.js"></script>
    <script src="/ardublockly/blockly/msg/js/en.js"></script>
    <script src="/ardublockly/ardublockly/msg/en.js"></script>
</head>
<body>
<%- include ../partials/top.ejs %>

<div class="row">
    <div class="col-lg-12">
        <div class="title_sections1">
            ARDUBLOCKLY
            <span class="loading-bar" id="loading-bar"><img src="/images/loader-small.gif"></span>
            <div class="btn-group ardublockly-menu" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" id="button_new">New</button>
                <button type="button" class="btn btn-primary" id="button_load">Open</button>
                <button type="button" class="btn btn-primary" id="button_save">Save</button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Examples
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="menu_example_blink">Blink</a></li>
                        <li><a href="#" id="menu_example_serial">Serial Print</a></li>
                        <li><a href="#" id="menu_example_serial_game">Serial Repeat Game</a></li>
                        <li><a href="#" id="menu_example_servo">Servo Knob</a></li>
                        <li><a href="#" id="menu_example_setpper">Setepper Knob</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-primary" id="button_upload">Upload</button>
            </div>
        </div>
    </div>
</div>

<div class="row ardublocklyct">
    <!-- Blockly workspace-->
    <div class="col-md-8 col-sm-12 col-xs-12" position="relative">
        <div class="panel panel-default">
            <a id="button_toggle_toolbox" class="button_toggle_toolbox_off" style="display: none"><i class="fa fa-eye fa" id="button_toggle_toolbox_icon"></i></a>
            <div class="panel-body ardublockly-panel-body">
                <div id="blocks_panel" class="content blocks_panel">
                    <div id="content_blocks" class="content z-depth-1"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Collapsible code/xml -->
    <div class="col-md-4 col-sm-12 col-xs-12" id="button">
        <div class="panel-group panel-borders" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <span class="collapsible_logo">{ }</span> Arduino Source Code
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body code-panel-body">
                        <pre id="content_arduino" class="content content_height_transition content_arduino"></pre>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <span class="collapsible_logo">&#60; &#62;</span> Blocks XML
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body xml-panel-body">
                          <textarea id="content_xml" class="content content_height_transition content_xml" wrap="soft"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%if (standalone) { %>
    <style>
    nav {
        display: none;
    }
    #page-wrapper {
        padding: 0 15px;
        margin: 0;
        border: none;
    }
    body {
        background-color: white;
    }
    </style>
    <script>window.isStandalone = true;</script>
<% } %>
<%- include ../partials/bottom.ejs %>
    <script type='text/javascript' src='/socket.io/socket.io.js'></script>
    <script src="/ardublockly/ardublockly/js_libs/FileSaver.min.js"></script>
    <script src="/ardublockly/ardublockly/js_libs/diff.js"></script>
    <script src="/ardublockly/ardublockly/prettify/prettify.js"></script>
    <script src="/ardublockly/ardublockly/ardublockly_toolbox.js"></script>
    <script src="/ardublockly/ardublockly/ardublockly_blockly.js"></script>
    <script src="/ardublockly/ardublockly/ardublockly.js"></script>
    <script src="/js/ardublockly-uwc.js"></script>
    <script>
    window.addEventListener('load', function load(event) {
        window.removeEventListener('load', load, false);
        Ardublockly.init();
    });
    </script>

</body>
</html>
