<!DOCTYPE html>
<html lang="en">
<head>
<%- include ../partials/header.ejs %>
    <title>UDOO - Arduino Web IDE</title>
    <link rel="stylesheet" href="/stylesheets/CodePrinter.css">
</head>
<body>
<%- include ../partials/top.ejs %>

<div class="row">
    <div class="col-lg-12">
        <div><p class="title_sections1">ARDUINO WEB IDE</p></div>
        <div class="text_g">Use this Web IDE to upload your own Sketch. Write the code below and press the Upload button. Be aware that it could take 30 seconds or more to verify and upload the sketch.</div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
<textarea id="editor">
void setup() {
  // put your setup code here, to run once:

}

void loop() {
  // put your main code here, to run repeatedly:

}
</textarea>
        <div id="feedback">
        Write your Sketch and hit Upload to Flash it on UDOO NEO's integrated Arduino Microcontroller
        </div>
    </div>
    
    <div class="col-md-2 col-sm-12 col-xs-12" id="button">
        <br>
        <div class="wrapper_docs"><button type="button" id="upload-ide" class="btn btn-primary btn-block">UPLOAD</button></div>
    </div>
</div>


<%- include ../partials/bottom.ejs %>
<script type='text/javascript' src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src="/js/codeprinter/CodePrinter.js"></script>
<script type="text/javascript">
    var cp = new CodePrinter(document.getElementsByTagName('textarea')[0], {
        theme: 'default',
        mode: 'JavaScript',
        lineNumbers: true,
        fontSize: 14
    });
    var sketch= cp.code.innerText;
    var socket = io();
    //var sketch = cp.code.innerText;
    document.getElementById('upload-ide').onclick = function() {
        socket.emit('upload-sketch', cp.code.innerText.replace(/[^\040-\176\200-\377]/gi, "\n"))
    
    }
    socket.on('simple-ide-error', function (data) {
        document.getElementById('feedback').innerHTML=data;
    });

    socket.on('simple-ide', function (data) {
        document.getElementById('feedback').innerHTML=data;
    });
</script>

</body>
</html>
