@font-face {
    font-family: quicksand;
    src: url(/fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: quicksand;
    src: url(/fonts/Quicksand-Bold.otf);
    font-weight: bold;
}


.navbar-nav > li > a, .navbar-brand {
    padding-top:2px !important; 
    padding-bottom:0 !important;
    height: 70px;
}

.navbar {min-height: 70px !important;}

@media(min-width:768px) {
    .sidebar {
        margin-top: 71px;
    }
}


.dashtitles {
    color: #ffffff;
    font-family: quicksand;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.text-bold{
    font-weight: bold;
}

.title_sections1 {
    color: #000000;
    font-family: quicksand;
    font-size: 32px;
    margin-top: 3px;
    margin-bottom: 15px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.title_sections2 {
    color: #ffffff;
    font-family: quicksand;
    font-size: 22px;
    margin-bottom: 0px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.title_sections3 {
    color: #000000;
    font-family: quicksand;
    font-size: 22px;
    margin-bottom: 3px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.title_sections4 {
    font-family: quicksand;
    font-size: 22px;
    margin-bottom: 0px;
    font-weight: bold;
    text-align:center;
}

.text_g {
    font-size: 16px;
    margin-bottom: 13px;
}

.text_v {
    text-align:left;
    font-size: 15px;
    margin-top: 7px;
}

#ethstatus, #usbstatus, #wlanstatus, #btstatus {
    font-size: 21px;
    margin-top: 10px;
}

@media (min-width: 1351px) and (max-width: 1500px) {
    #ethstatus, #usbstatus, #wlanstatus, #btstatus {
        font-size: 18px;
        margin-top: 14px;
    }
}

@media (min-width: 1185px) and (max-width: 1350px) {
    #ethstatus, #usbstatus, #wlanstatus, #btstatus {
        font-size: 15px;
        margin-top: 14px;
    }
}

.button-row a:hover {
  text-decoration: none;
}

pre {
    border: none;
}

.cp-code pre {
    background-color: transparent;
}

.boardimg {
    width: 100%;
    max-width: 260px;
    margin: 15px auto;
}

@media (min-width: 1701px) {
    .sensors-bars img {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 1200px) and (max-width: 1700px) {
    .sensors-bars img {
        width: 60px;
        height: 60px;
        margin-left: -10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sensors-bars img {
        width: 50px;
        height: 50px;
        margin-left: -10px;
        margin-top: 5px;
    }
    
    img.boardimg {
        max-width: 225px;
    }
}

@media (max-width: 991px) {
    .sensors-bars img {
        width: 60px;
        height: 60px;
    }
    
    img.boardimg {
        max-width: 225px;
    }
}

@media(min-width:768px) {
    .panel-fixed-height {
        height: 280px;
    }
}

.sensors-bars {
    margin-top: 10px;
}

.sensors-bars .row {
    height: 75px;
}

#sensors-modulus.sensors-bars .progress {
    height: 27px;
    margin-top: 15px;
}

#sensors-axis.sensors-bars .progress {
    height: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#sensors-axis.sensors-bars .progress:first-child {
    margin-top: 13px;
}


div#feedback {
    border: 3px solid #d4d4d4;
    min-height: 38px;
    text-align: middle;
    vertical-align: middle;
    border-radius: 4px;
    margin-top: -3px;
    padding: 6px;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
}



.wifibars {
    position: relative;
    top: 2px;
}
.wifibar {
    width: 3px;
    background-color: #3498db;
    float:left;
}
.wifibar1 {
    position: relative;
    height: 3px;
    top: 12px;
}
.wifibar2 {
    position: relative;
    height: 6px;
    top: 9px;
}
.wifibar3 {
    position: relative;
    height: 9px;
    top: 6px;
}
.wifibar4 {
    position: relative;
    height: 12px;
    top: 3px;
}
.wifibar5 {
    position: relative;
    height: 15px;
    top: 0px;
}
.wifibar-empty {
    background-color: #c0c0c0;
}

.wifi-ct {
    max-height: 369px;
    overflow-y: scroll;
}

.list-group.wifi {
    padding: 0;
    margin: 0;
}


#timezone-picker .timezone-picker {
    margin: 10px auto;
}

.ardublocklyct .panel-group {
    margin: 0;
}

.ardublockly-panel-body {
    padding: 0 !important;
}

.loading-bar {
    position: relative !important;
    left: 0 !important;
    margin-left: 10px !important;
}


pre#editor {
    height: 400px;
}


/**
 * panel
 * --------------------------------------------------
 */

.panel-green{border-color:#5cb85c}
.panel-green .panel-heading{border-color:#5cb85c;color:#fff;background-color:#5cb85c}
.panel-green a{color:#5cb85c}
.panel-green a:hover{color:#3d8b3d}
.panel-red{border-color:#d9534f}
.panel-red .panel-heading{border-color:#d9534f;color:#fff;background-color:#d9534f}
.panel-red a{color:#d9534f}
.panel-red a:hover{color:#b52b27}
.panel-yellow{border-color:#f0ad4e}
.panel-yellow .panel-heading{border-color:#f0ad4e;color:#fff;background-color:#f0ad4e}
.panel-yellow a{color:#f0ad4e}
.panel-yellow a:hover{color:#df8a13}
.panel-grey{border-color:#f5f5f5}
.panel-grey .panel-heading{border-color:#f5f5f5;color:#000;background-color:#f5f5f5;min-height:233px}
.panel-grey a{color:#f5f5f5}
.panel-grey a:hover{color:#f5f5f5}
.panel-greeneme{border:3px solid #62d994}
.panel-greeneme .panel-heading{border:3px solid #62d994;color:#fff;background-color:#62d994}
.panel-greeneme a{color:#62d994}
.panel-greeneme .panel-heading:hover{background-color:#fff;border:3px solid #62d994;color:#62d994;font-weight:700}
.panel-greeneme:focus{color:#fff}
.panel-greeneme:hover:focus{color:#62d994}
.panel-lightblue{border:3px solid #67b2e4}
.panel-lightblue .panel-heading{border:3px solid #67b2e4;color:#fff;background-color:#67b2e4}
.panel-lightblue a{color:#67b2e4}
.panel-lightblue .panel-heading:hover{background-color:#fff;border:3px solid #67b2e4;color:#67b2e4;font-weight:700}
.panel-lightblue:focus{color:#fff}
.panel-lightblue:hover:focus{color:#67b2e4}
.panel-purple{border:3px solid #9c7bb5}
.panel-purple .panel-heading{border:3px solid #9c7bb5;color:#fff;background-color:#9c7bb5}
.panel-purple a{color:#9c7bb5}
.panel-purple .panel-heading:hover{background-color:#fff;border:3px solid #9c7bb5;color:#9c7bb5;font-weight:700}
.panel-purple:focus{color:#fff}
.panel-purple:hover:focus{color:#9c7bb5}
.panel-red2{border:3px solid #d06a60}
.panel-red2 .panel-heading{border:3px solid #d06a60;color:#fff;background-color:#d06a60}
.panel-red2 a{color:#d06a60}
.panel-red2 .panel-heading:hover{background-color:#fff;border:3px solid #d06a60;color:#d06a60;font-weight:700}
.panel-red2:focus{color:#fff}
.panel-red2:hover:focus{color:#d06a60}
.panel-orange{border:3px solid #ec9e59}
.panel-orange .panel-heading{border:3px solid #ec9e59;color:#fff;background-color:#ec9e59}
.panel-orange a{color:#ec9e59}
.panel-orange .panel-heading:hover{background-color:#fff;border:3px solid #ec9e59;color:#ec9e59;font-weight:700}
.panel-orange:focus{color:#fff}
.panel-orange:hover:focus{color:#ec9e59}
.panel-arduino{border-color:#00979d}
.panel-arduino .panel-heading{border-color:#00979d;color:#fff;background-color:#00979d}
.panel-arduino a{color:#00979d}
.panel-arduino a:hover{background-color:#00979d}
.panel-green2{border-color:#2ecc71}
.panel-green2 .panel-heading{border-color:#2ecc71;color:#fff;background-color:#2ecc71}
.panel-green2 a{color:#2ecc71}
.panel-green2 a:hover{background-color:#2ecc71}
.panel-blue2{border-color:#3498db}
.panel-blue2 .panel-heading{border-color:#3498db;color:#fff;background-color:#3498db}
.panel-blue2 a{color:#3498db}
.panel-blue2 a:hover{background-color:#3498db}
.panel-blue2 a.list-group-item:hover{background-color:#bde6f2;}



.panel {
  background-color: white;
  border: none;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
}
.panel .list-group {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.panel .list-group-item:first-child {
  /* border-top: 1px solid #e6e9ed; */
}
.panel-heading {
          border-radius: 4px 4px 4px 4px;

  -webkit-border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
}
.panel-title {
  font-size: 14px;
  font-weight: normal;
  color: #434a54;
}
.panel-footer {
  background-color: #e6e9ed;
  border-top-color: #e6e9ed;
          border-radius: 0 0 4px 4px;

  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
}
.panel-default {
  border-color: #e6e9ed;
}
.panel-default > .panel-heading {
  color: #434a54;
  background-color: #e6e9ed;
  border-color: #e6e9ed;
}
.panel-primary {
  border-color: #3bafda;
}
.panel-primary > .panel-heading {
  color: white;
  background-color: #3bafda;
  border-color: #3bafda;
}
.panel-success {
  border-color: #8cc152;
}
.panel-success > .panel-heading {
  color: white;
  background-color: #8cc152;
  border-color: #8cc152;
}
.panel-info {
  border-color: #37bc9b;
}
.panel-info > .panel-heading {
  color: white;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.panel-warning {
  border-color: #f6bb42;
}
.panel-warning > .panel-heading {
  color: white;
  background-color: #f6bb42;
  border-color: #f6bb42;
}
.panel-danger {
  border-color: #da4453;
}
.panel-danger > .panel-heading {
  color: white;
  background-color: #da4453;
  border-color: #da4453;
}
.panel-primary > .panel-heading > .panel-title, .panel-success > .panel-heading > .panel-title, .panel-info > .panel-heading > .panel-title, .panel-warning > .panel-heading > .panel-title, .panel-danger > .panel-heading > .panel-title {
  color: white;
}
.panel > .list-group:first-child .list-group-item:first-child, .panel > .table:first-child, .panel > .table-responsive:first-child > .table:first-child {
          border-radius: 4px 4px 0 0;

  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
}
.panel > .list-group:last-child .list-group-item:last-child {
          border-radius: 0 0 4px 4px;

  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
          border-radius: 4px 0 0 0;

  -webkit-border-radius: 4px 0 0 0;
     -moz-border-radius: 4px 0 0 0;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
          border-radius: 0 4px 0 0;

  -webkit-border-radius: 0 4px 0 0;
     -moz-border-radius: 0 4px 0 0;
}
.panel > .table:last-child, .panel > .table-responsive:last-child > .table:last-child {
          border-radius: 0 0 4px 4px;

  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
          border-radius: 0 0 0 4px;

  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
          border-radius: 0 0 4px 0;

  -webkit-border-radius: 0 0 4px 0;
     -moz-border-radius: 0 0 4px 0;
}
.panel > .panel-body + .table, .panel > .panel-body + .table-responsive {
  border-top-color: #e6e9ed;
}

.log-iot {
    background-color: #0f0f0f;
    color: #FFF;
    font-weight: bold;
    width: 102%;
    height: 100%;
    margin: -15px;
    padding: 10px;
    overflow: hidden;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.panel-gray{
    background-color: #e6e9ed;
}

.panel-gray > .panel-heading > .dashtitles{
    color: #0f0f0f;
    border-bottom: 1px solid #0f0f0f;
}

#register-alert > .alert-link {
    text-decoration: underline !important;
}

#register-done-alert > .alert-link {
    text-decoration: underline !important;
}


